/* PlayerNameInput.css */

.player-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.player-names > div {
  margin-bottom: 10px;
}

.player-names input {
  padding: 8px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.player-names input:focus {
  border-color: #4caf50; /* Highlight input on focus */
}

.start-button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow */
}

.start-button:hover {
  background-color: #45a049; /* Enhance button color on hover */
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}
